* {
    box-sizing: border-box;
    font-family: sans-serif,'Ubuntu Light', 'Century Gothic', ;
    margin: 0;
    padding: 0;
    color: #000000;
}

.container {
    background-color: aliceblue;
}

body {
    padding-top: 10px;
    background-color:  rgba(238, 230, 117, 0.379);
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; 

}

.outerBox {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.innerbox {
    max-width: 950px;
    padding: 10px;
    width: 95%;
    margin: 15px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
   
}

.displayBox {
    overflow: overlay;
    padding-top: 10px;
}

.marketBox {
    padding: 5px;
    width: 30%;
    margin: 5px 5px 13px 10px;
    float: left;
    font-size: .8em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2)
}

#header {
    text-align: center;
    letter-spacing: .2em;
    margin-bottom: 10px;
}

#totals {
    line-height: 1.5em;
}

input {
    margin: 10px;
}

label {
    font-weight: bold;
}

button {
    padding: 3px;
    margin: 3px;
} 